<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="caret">Menu</span></button>
    <ul class="dropdown-menu">
        <li class="dropdown-header">Quản lý</li>
        <li><a class="nav-link text-secondary" href="admin/censorship">Phê duyệt đăng ký</a></li>
        <li><a class="nav-link text-secondary" href="admin/member">Quản lý thành viên</a></li>
        <li><a class="nav-link text-secondary" href="admin/news">Quản lý bản tin </a></li>
        <li><a class="nav-link text-secondary" href="admin/notification">Quản lý thông báo CLB </a></li>
        <li><a class="nav-link text-secondary" href="admin/daotao">Quản lý thông báo PĐT </a></li>
        <li><a class="nav-link text-secondary" href="admin/forum">Quản lý diễn đàn </a></li>
        <li><a class="nav-link text-secondary" href="admin/report">Báo cáo thống kê</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Trang chủ</li>
        <li><a class="text-secondary nav-link" href="/admin">Admin</a></li>
    </ul>
</div>