<div class="container-fluid pt-2">
        <div class="row">
            <div class="col col-md-2">
                <!-- menu -->
                <nav class="nav flex-column nav-ql">
                    <a class="nav-link" href="admin/censorship">Phê duyệt đăng ký</a>
                    <a class="nav-link" href="admin/member">Quản lý thành viên</a>
                    <!-- Tin tuc hoat dong -->
                    <a class="nav-link" href="admin/news">Quản lý bản tin </a>
                    <!-- Tai liệu học tập -->
                    <a class="nav-link" href="admin/news">Quản lý tài liệu </a>
                    <a class="nav-link" href="admin/notification">Quản lý thông báo CLB </a>
                    <a class="nav-link" href="admin/widget">Thiết lập giao diện</a>
                    <a class="nav-link" href="admin/daotao">Quản lý thông báo PĐT </a>
                    <a class="nav-link" href="admin/forum">Quản lý diễn đàn </a>
                    <a class="nav-link" href="admin/report">Báo cáo thống kê</a>
                </nav>
                <!-- /menu -->
            </div>

            <div class="col col-md-10">
                <div class="mb-2 d-flex">
                    <div class="col-md-3">
                        <div class="r3_counter_box d-flex">
                            <i class="fa fa-users-cog pull-left icon-rounded"></i>
                            <div class="stats">
                            <h5><strong>10</strong></h5>
                            <span>Quản trị viên</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="r3_counter_box d-flex">
                            <i class="pull-left fa fa-users user1 icon-rounded"></i>
                            <div class="stats">
                            <h5><strong>1019</strong></h5>
                            <span>Thành viên clb</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="r3_counter_box d-flex">
                            <i class="pull-left fa fa-sign-in-alt user2 icon-rounded"></i>
                            <div class="stats">
                            <h5><strong>58</strong></h5>
                            <span>Sinh viên đăng kí</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="r3_counter_box d-flex">
                            <i class="pull-left fa fa-layer-group dollar1 icon-rounded"></i>
                            <div class="stats">
                            <h5><strong>4</strong></h5>
                            <span>Câu lạc bộ</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="mt-3 d-flex">
                    <div class="col-md-4">
                        <div class="cal1">
                            <div class="clndr">
                                <div class="clndr-controls"><div class="clndr-control-button"><p class="clndr-previous-button">previous</p></div><div class="month">May 2019</div><div class="clndr-control-button rightalign"><p class="clndr-next-button">next</p></div></div>
                                <table class="clndr-table" border="0" cellspacing="0" cellpadding="0"><thead><tr class="header-days"><td class="header-day">S</td><td class="header-day">M</td><td class="header-day">T</td><td class="header-day">W</td><td class="header-day">T</td><td class="header-day">F</td><td class="header-day">S</td></tr></thead><tbody><tr><td class="day past adjacent-month last-month calendar-day-2019-04-28"><div class="day-contents">28</div></td><td class="day past adjacent-month last-month calendar-day-2019-04-29"><div class="day-contents">29</div></td><td class="day past adjacent-month last-month calendar-day-2019-04-30"><div class="day-contents">30</div></td><td class="day past calendar-day-2019-05-01"><div class="day-contents">1</div></td><td class="day past calendar-day-2019-05-02"><div class="day-contents">2</div></td><td class="day past calendar-day-2019-05-03"><div class="day-contents">3</div></td><td class="day today calendar-day-2019-05-04"><div class="day-contents">4</div></td></tr><tr><td class="day calendar-day-2019-05-05"><div class="day-contents">5</div></td><td class="day calendar-day-2019-05-06"><div class="day-contents">6</div></td><td class="day calendar-day-2019-05-07"><div class="day-contents">7</div></td><td class="day calendar-day-2019-05-08"><div class="day-contents">8</div></td><td class="day calendar-day-2019-05-09"><div class="day-contents">9</div></td><td class="day event calendar-day-2019-05-10"><div class="day-contents">10</div></td><td class="day event calendar-day-2019-05-11"><div class="day-contents">11</div></td></tr><tr><td class="day event calendar-day-2019-05-12"><div class="day-contents">12</div></td><td class="day event calendar-day-2019-05-13"><div class="day-contents">13</div></td><td class="day event calendar-day-2019-05-14"><div class="day-contents">14</div></td><td class="day calendar-day-2019-05-15"><div class="day-contents">15</div></td><td class="day calendar-day-2019-05-16"><div class="day-contents">16</div></td><td class="day calendar-day-2019-05-17"><div class="day-contents">17</div></td><td class="day calendar-day-2019-05-18"><div class="day-contents">18</div></td></tr><tr><td class="day calendar-day-2019-05-19"><div class="day-contents">19</div></td><td class="day calendar-day-2019-05-20"><div class="day-contents">20</div></td><td class="day event calendar-day-2019-05-21"><div class="day-contents">21</div></td><td class="day event calendar-day-2019-05-22"><div class="day-contents">22</div></td><td class="day event calendar-day-2019-05-23"><div class="day-contents">23</div></td><td class="day calendar-day-2019-05-24"><div class="day-contents">24</div></td><td class="day calendar-day-2019-05-25"><div class="day-contents">25</div></td></tr><tr><td class="day calendar-day-2019-05-26"><div class="day-contents">26</div></td><td class="day calendar-day-2019-05-27"><div class="day-contents">27</div></td><td class="day calendar-day-2019-05-28"><div class="day-contents">28</div></td><td class="day calendar-day-2019-05-29"><div class="day-contents">29</div></td><td class="day calendar-day-2019-05-30"><div class="day-contents">30</div></td><td class="day calendar-day-2019-05-31"><div class="day-contents">31</div></td><td class="day adjacent-month next-month calendar-day-2019-06-01"><div class="day-contents">1</div></td></tr></tbody></table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="activity_box">
                            <div class="scrollbar pt-2" id="style-2">
                                <h3 class="text-center text-dark mb-3">Thành viên mới tham gia</h3>
                                <hr>
                                <div class="activity-row row">
                                    <div class="col-md-2"><i class="fa fa-user-plus text-info icon_13"> </i>  </div>
                                    <div class="col-md-2 activity-img"><img src='static/imgs/avatar.png' class="img-responsive" alt=""/></div>
                                    <div class="col-md-8 activity-desc text-center">
                                        <h5><a href="#">Username</a> liked <a href="#">Fullname</a></h5>
                                        <p class="mb-1">Vừa tham gia vào nhóm</p>
                                        <h6>hh:mm - dd:mm:yyyy</h6>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="activity_box">
                            <div class="scrollbar pt-2" id="style-2">
                                <h3 class="text-center text-dark mb-3">Thống kê thành viên</h3>
                                 <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nhóm</th>
                                            <th>Đã tham gia / Chờ duyệt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Lập trình C/C++</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Đồ họa</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Web</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Quản trị mạng</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>