<div class="container-fluid pt-2 head">

        <div class="row">
            <div class="col col-md-3">
                <!-- nav -->
                <nav class="nav justify-content-center">
                    <div class="nav-item text-center">
                        <a class="nav-link active" href="/admin">
                            <h3><img src="/static/imgs/logo.png" alt="Câu lạc bộ Tin học" style="width: 40px;">
                            QUẢN LÝ CLB</h3>

                        </a>
                    </div>
                </nav>
                <!-- /nav-->
            </div>
            <div class="col col-md-9">
                <!-- nav -->
                <nav class="nav justify-content-end pt-2">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user" style="margin-right: 10px;"></i> Xin chào <strong></strong></a>
                        <div class="dropdown-menu" style="position: absolute;">
                            <a class="btn btn-outline-danger mx-3 my-1" href="">Xem thông tin cá nhân</a>
                            <a class="btn btn-outline-danger mx-3 my-1" href="">Chỉnh sửa thông tin</a>
                            <a class="btn btn-outline-danger mx-3 my-1" href="">Cập nhật mật khẩu</a>
                        </div>
                    </div>
                </nav>
                <!-- /nav -->
            </div>
        </div>
    </div>