<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <%- include layout/head.ejs %>
</head>
<body>
    <%- include layout/nav.ejs %>
    <%- include layout/menu.ejs %>

            <div class="col col-md-9">

            </div>
        </div>
    </div>
    <%- include layout/foot.ejs %>
</body>
</html>