<div class="container-fluid pt-2">
        <div class="row">
            <div class="col col-md-3">
                
    <!-- menu -->
    <nav class="nav flex-column nav-ql">
        <a class="nav-link" href="admin/censorship">Phê duyệt đăng ký</a>
        <a class="nav-link" href="admin/member">Quản lý thành viên</a>
        <!-- Tin tuc hoat dong -->
        <a class="nav-link" href="admin/news">Quản lý bản tin </a>
        <!-- Tai liệu học tập -->
        <a class="nav-link" href="admin/news">Quản lý tài liệu </a>
        <a class="nav-link" href="admin/notification">Quản lý thông báo CLB </a>
        <a class="nav-link" href="admin/widget">Thiết lập giao diện</a>
        <a class="nav-link" href="admin/daotao">Quản lý thông báo PĐT </a>
        <a class="nav-link" href="admin/forum">Quản lý diễn đàn </a>
        <a class="nav-link" href="admin/report">Báo cáo thống kê</a>
    </nav>
    <!-- /menu -->
</div>