<header class="shadow-sm bg-dark position-relative" style="background-image: url('/static/imgs/code.jpg');">
    <div class="container-fluid">
        <div class="main-nav-bar position-relative d-flex bd-highlight pt-4 pb-4">
            <a class="" href="/"><img src="/static/imgs/kteam_w_70x32.png" alt=""></a>

            <div class="search-wrapper d-none d-sm-block">
                <form action="" method="get">
                    <div class="form-material input-group pt-0">
                        <input type="text" style="background-color:transparent; border-radius: 0%;" class="mt-4 form-control search-input border-top-0 border-right-0 border-left-0" name="seach" placeholder="Tìm kiếm">
                        <div class="input-group-append">
                            <button style="background:transparent ;border-radius: 0%;color:#fff" class="mt-4 input-group-text border-top-0 border-right-0 border-left-0" type="submit">
                                <i class="fas fa-fw fa-search button-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr class="bg-secondary m-auto" style="width:100%">
    </div>
    <!-- Menu bar -->

    <nav class="navbar navbar-expand-md navbar-dark bg-gr sticky-top">
            <div class="container-fluid pl-0 pr-0">
                <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white-1 pl-0" href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white-1" href="#" id="navbardrop" data-toggle="dropdown">Giới thiệu</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="">Lịch sử hình thành</a>
                                <a class="dropdown-item" href="#">Cơ cấu tổ chức</a>
                                <a class="dropdown-item" href="#">Chương trình đào tạo</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white-1" href="#" id="navbardrop" data-toggle="dropdown">Tin tức hoạt động</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Cuộc thi</a>
                                <a class="dropdown-item" href="#">Hoạt động ngoại khóa</a>
                                <a class="dropdown-item" href="#">Sự kiện - hội thảo</a>
                            </div>
                        </li>
                        <li class="nav-item  dropdown">
                            <a class="nav-link dropdown-toggle text-white-1" href="#" id="navbardrop" data-toggle="dropdown">Tài liệu</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="tailieu.html">Lập trình C/C++</a>
                                <a class="dropdown-item" href="#">Lập trình Web</a>
                                <a class="dropdown-item" href="#">Thiết kế đồ họa</a>
                                <a class="dropdown-item" href="#">Quản trị mạng</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white-1" href="#" id="navbardrop" data-toggle="dropdown">Hướng dẫn</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="noiquy.html">Nội quy</a>
                                <a class="dropdown-item" href="#">Hướng dẫn đăng kí</a>
                                <a class="dropdown-item" href="#">Hướng dẫn lấy lại mật khẩu</a>
                                <a class="dropdown-item" href="#">Thủ tục làm lại thẻ thành viên</a>
                            </div>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-white-1" href="#">Diễn đàn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-1 " id="lien-he" href="#">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- End Menu Bar -->
    </header>
    <!-- End Header -->